streamlit
openai
python-dotenv
sqlite-utils
pandas
numpy
scikit-learn
nltk
transformers
torch
sentence-transformers
langchain
langchain_openai

streamlit, langgraph, langchain-core, langchain-community, langchain-openai, python-dotenv